:root {
    --dark-brown-color: rgb(53, 34, 8);
    --medium-brown-color: rgb(123, 107, 67);
    --light-brown-color: rgb(225, 187, 128);
    --gray-color: rgb(187, 182, 175);
    --bronze-color: rgb(211, 134, 53);
}

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

body {
    font-family: raleway;
}

#header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 1em;
}

#header-bar nav{
    margin: auto;
}

#header-bar h1{
    justify-self: start;
}

#header-bar ul {
    display: flex; 
    list-style: none;
    margin: 0;
    padding: 0;
}

#header-bar li {
    margin-right: 10px;
}

#header-bar nav a {
    padding: 10px;
    display: block;
}