:root {
    --main-background: #202c31;
    --marking-color: #b88b52;
    --card-gradient: linear-gradient(to right bottom, #29353a, #2f3a3e, #353e42, #3b4347, #41484b);
    --card-gradient-transparent-top: linear-gradient(to bottom, #29353a00, #2f3a3e, #353e42, #3b4347, #41484bbe);
}

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-background);
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;;
}

input {
    color: white;
    font-size: 20px;
    padding-bottom: 0.2em;
    width: 100%;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    margin-top: 1em;
    margin-bottom: 2em;
    outline: none;
}

label {
    font-size: 20px;
}

form h4 {
    margin-bottom: 1em;
}

#root {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--main-background);
}

header {
    position: fixed;
    background-color: var(--main-background);
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    border-bottom: 1px solid #435258;
}

footer {
    width: 100%;
    height: 4em;
    background-color: var(--main-background);
    border-top: 1px solid #435258;
}

button {
    display: block;
    border: 0px;
    color: var(--main-background);
    background-color: var(--marking-color);
    cursor: pointer;
    box-shadow: #22212133 0px 40px 20px -10px;
    border-radius: 4px;
    overflow: hidden;
}

i {
    color: white;
}

button:hover {
    background-color: #b88c52f5;
    box-shadow: transparent 0px 0px 0px 0px;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

header ul li {
    text-align: center;
    justify-self: center;
}

header nav a {
    padding: 10px;
    width: 10em;
    color: white;
    font-size: 20px;
    display: block;
}

header nav a:hover {
    background-color: #b88c5273;
}

.is-active {
    background-color: #41484b96;
}

header button {
    position: absolute;
    right: 1em;
    font-size: 15px;
    padding: 0.5em;
}

#input-error-view {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    color: rgb(255, 0, 0);
    overflow: hidden;
}

#input-error-view i {
    color: rgb(255, 0, 0);
    font-size: 2em;
    margin-bottom: 2px;
    margin-right: 0.3em;
}

#input-error-view h4 {
    margin: 0;
}

#home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
    overflow: hidden;
    padding-right: 4em;
    padding-left: 4em;
    padding-bottom: 5em;
}

#contact-page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#contact-page-container #input-container {
    display: flex;
    margin-top: 3em;
    height: 100%;
}

#contact-page-card h2 {
    margin-bottom: 0.5em !important;
}

#input-container-left {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#textarea-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border-left: 1px solid white;
    font-size: 20px;
    padding-left: 1em;
    margin-left: 2em;
}

#textarea-container label{
    height: 2em;
    margin-bottom: 1em;
}

#textarea-container textarea{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: 1px 0px 1px 0px solid white;
    color: white;
    padding: 0.5em;
    resize: none;
    background-color: transparent;
    height: 100%;
}

.card {
    color: white;
    background-image: var(--card-gradient);
    padding: 1em;
    box-shadow: #00000033 0px 60px 40px -7px;
    border-radius: 8px;
}

#home-page-banner {
    margin-bottom: 2em;
    padding: 0;
    font-size: 3vmax;
    overflow: hidden;
    margin-top: 0.6em;
    height: 77vh;
    width: 95%;
    background-image: url("../../img/home-page-banner-bg.png");
    background-size: cover;
}

#home-page-banner h1 {
    color: var(--marking-color);
    font-family: 'Girassol', cursive;
    font-size: 8vmax;
}

#home-page-banner-fade {
    background-image: linear-gradient(to right bottom, #29353a, #29353ad2, #29353a50, #ffffff00);
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#home-page-banner-content-wrapper {
    padding: 1em;
}

#home-page-banner-content-wrapper p {
    width: 50%;
    font-size: 1.3vmax;
}

#home-page-banner-content-wrapper button {
    width: 50%;
    font-size: 2vmax;
}

#contact-btn {
    margin-top: 2em;
    width: 100%;
    font-size: 2.5vmax;
    height: 2em;
}

#guide-container {
    width: 95%;
    display: flex;
    gap: 5em;
    padding-bottom: 5em;
    overflow: hidden;
}

.guide-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    width: 95%;
    padding: 3em;
    background-image: var(--card-gradient-transparent-top);
    overflow: hidden;
}

.guide-point h2 {
    font-family: 'Girassol', cursive;
    color: var(--marking-color);
    font-size: 12vmax;
}

.guide-point p {
    text-align: center;
    font-size: 1.3vmax;
}

.guide-point img {
    width: 15em;
    height: 15em;
}

#contact-page-card {
    display: flex;
    flex-direction: column;
    padding: 2em;
    grid-column: 1 / 2;
    justify-self: center;
    height: 60%;
    width: 70%;
}

#contact-page-card #input-error-view {
    position: absolute;
}

#contact-page-card h2 {
    font-size: 30px;
    margin-bottom: 1em;
    overflow: hidden;
}

#contact-page-card form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#contact-submit-btn {
    position: absolute;
    width: 100%;
    font-size: 20px;
    padding: 1em;
    justify-self: end;
    bottom: 0;
}

footer {
    position: absolute;
    bottom: 0;
}

#admin-page-container, #login-page-container {
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
    margin-top: 6em;
    justify-content: center;
    align-items: center;
}

#login-page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#login-card a {
    color: white;
}

#login-card a:hover {
    right: 10px;
}

#login-card h2 {
    margin-top: 2em;
}

#login-card {
    width: 20em;
    padding: 2em;
}

#login-card h2 {
    margin-bottom: 1em;
}

#login-card button {
    padding: 0.7em 1em 0.7em 1em;
    border-radius: 50px;
}

#login-card input {
    background-color: white;
    font-size: 18px;
    border-radius: 50px;
    padding: 0.2em;
    padding-left: 0.8em;
    color: #29353a;
    width: 90%;
    margin: 0em 1em 1em 0em;
}

#upload-form-container {
    width: 90%;
}

#upload-form-card {
    background-image: none;
    background-color: #29353a;
    margin-top: 2em;
}

#upload-form-card input[name="file"] {
    border: 0px;
}

#upload-form-card button {
    font-size: 20px;
    height: 2.5em;
    width: 10em;
}

#hologram-list-container {
    margin-top: 3em;
    width: 90%;
}

#hologram-list-container h2 {
    margin-bottom: 1em;
}

#hologram-list-container div {
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;
}

#hologram-list-container div article {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 1em;
    background-color: #29353a;
    border-radius: 8px;
    margin: 0.5em 0em 0.5em 0em;
    height: 4em;
    padding: 0;
}

#hologram-list-container div p {
    margin: 1em;
    align-self: center;
}

#hologram-list-container div article button {
    margin: 1em;
    padding: 0.5em;
}

.prep-del-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.prep-del-btn:hover {
    background-color: transparent;
}

.prep-del-btn:hover i {
    color: var(--marking-color);
}

.del-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0 !important;
    width: 4em;
    border-radius: 0;
}

.del-btn:hover {
    background-color: #d674563d;
}

.holo-name {
    flex: 1;
}

.marked-for-deletion {
    background-color: #d6795d60 !important;
    justify-content: stretch;
    font-weight: bold;
}

#video-container {
    overflow: hidden;
    background-color: black;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.center-full-screen {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#not-found-container h1 {
    font-size: 50px;
    margin-bottom: 0.3em;
    color: var(--marking-color);
}

#not-found-container a {
    margin-top: 1em;
    color: white;
    text-decoration: underline;
}

#error-container h1 {
    font-size: 50px;
    margin-bottom: 0.3em;
    color: var(--marking-color);
}

#error-container button {
    margin-top: 3em;
    padding: 0.6em;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0;
    }
    #home-page-container {
        padding: 0;
    }
    #contact-page-card {
        width: 75%;
    }
    #guide-container {
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }
    .guide-point {
        box-shadow: none;
        background-image: var(--card-gradient);
    }
    footer {
        display: none;
    }
}