:root {
    --main-background: #202c31;
    --marking-color: #b88b52;
    --card-gradient: linear-gradient(to right bottom, #29353a, #2f3a3e, #353e42, #3b4347, #41484b);
}

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

body {
    font-family: raleway;
    background-color: var(--main-background);
}

a {
    text-decoration: none;
    font-family: raleway;
}

input {
    color: white;
    font-size: 20px;
    padding-bottom: 0.2em;
    width: 100%;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    margin-top: 1em;
    margin-bottom: 2em;
    outline: none;
}

label {
    font-size: 20px;
}

form h4 {
    margin-bottom: 1em;
}

#root {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--main-background);
}

header {
    position: fixed;
    background-color: var(--main-background);
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    border-bottom: 1px solid #435258;
}

button {
    display: block;
    border: 0px;
    color: white;
    background-color: var(--marking-color);
    cursor: pointer;
    box-shadow: #22212133 0px 40px 20px -10px;
    border-radius: 4px;
}

button:hover {
    background-color: #b88c52ef;
    box-shadow: transparent 0px 0px 0px 0px;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

header ul li {
    text-align: center;
    justify-self: center;
}

header nav a {
    padding: 10px;
    width: 10em;
    color: white;
    font-size: 20px;
    display: block;
}

header nav a:hover {
    background-color: #b88c5273;
}

.is-active {
    background-color: #41484b96;
}

header button {
    position: absolute;
    right: 1em;
    font-size: 15px;
    padding: 0.5em;
}

#home-page-container {
    display: grid;
    margin-top: 6em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    overflow: hidden;
    padding-right: 4em;
    padding-left: 4em;
    padding-bottom: 5em;
}

#contact-page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100vw;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.card {
    color: white;
    background-image: var(--card-gradient);
    padding: 1em;
    box-shadow: #00000033 0px 60px 40px -7px;
    border-radius: 8px;
}

#home-page-card {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    font-size: 3vmax;
    overflow: hidden;
    justify-self: center;
    align-self: center;
    margin-top: 1em;
    height: 65vh;
    width: 85%;
}

.guide-point {
    margin-top: 1em;
    width: 80%;
    height: 100%;
    background-color: #b88b52;
    background-image: none;
    justify-self: center;
    align-self: center;
}

#div-center {
    grid-column: 1 / 4;
    grid-row: 5 / 8;
    width: 70%;
    height: 80%;
    justify-self: center;
    align-self: center;
}

#div-1 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

#div-2 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

#div-3 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

#contact-page-card {
    display: flex;
    flex-direction: column;
    padding: 2em;
    grid-column: 1 / 2;
    justify-self: center;
    height: 70%;
    width: 70%;
}

#contact-page-card h2 {
    font-size: 30px;
    margin-bottom: 1em;
    overflow: hidden;
}

#contact-page-card form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#product-name-container h1 {
    font-family: 'Girassol', cursive;
    font-size: 8vmax;
}

#product-info-container {
    border-left: 1px solid white;
    padding-left: 1em;
}

#product-info-container p {
    font-size: 1.8vmax;
}

#contact-btn {
    margin-top: 2em;
    width: 100%;
    font-size: 2.5vmax;
    height: 2em;
}

#contact-submit-btn {
    width: 100%;
    font-size: 20px;
    padding: 1em;
}

footer {
    position: absolute;
    bottom: 0;
}

#admin-page-container,
#login-page-container {
    color: white;
    margin: auto;
    margin-top: 8em;
    width: 80%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

#login-page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#login-card {
    width: 20em;
    padding: 2em;
}

#login-card h2{
    margin-bottom: 1em;
}

#login-card button {
    padding: 0.7em 1em 0.7em 1em;
    border-radius: 50px;
}

#login-card input {
    background-color: white;
    font-size: 18px;
    border-radius: 50px;
    padding: 0.2em;
    padding-left: 0.8em;
    color: #29353a;
    width: 90%;
    margin: 0em 1em 1em 0em;
}

#upload-form-card {
    margin-top: 2em;
}

#upload-form-card input[name="file"] {
    border: 0px;
}

#upload-form-card button {
    font-size: 20px;
    height: 2.5em;
    width: 10em;
}

#hologram-list-container {
    margin-top: 3em;
}

#hologram-list-container h2 {
    margin-bottom: 1em;
}

#hologram-list-container div {
    display: flex;
    flex-direction: column;
}

#hologram-list-container div article {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 1em;
    background-color: #29353a;
    border-radius: 8px;
    margin: 0.5em 0em 0.5em 0em;
}

#hologram-list-container div  p {
    flex: 1;
}

#hologram-list-container div article button {
    padding: 0.5em;
}

#video-container {
    overflow: hidden;
    background-color: black;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
